/* a link */
a {
  cursor: pointer;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

a:not([class]) {
  color: #1ec498;
  filter: contrast(1.5);
  transition: all ease-in-out 0.3s;
}

a:not([class]):hover {
  color: #1ec498;
  filter: contrast(1.5);
  text-decoration: underline 1px solid #11afaf;
}

a:hover {
  color: #11afaf;
  filter: contrast(1.5);
}

/* Button */
button {
  background: linear-gradient(to bottom right, #ff964a 0, #ce5417 100%);
  border: 0;
  border-radius: 18px;
  color: #e4f4f0;
  cursor: pointer;
  /* font-family: "Barlow", sans-serif; */
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  margin: 24px 24px 24px 0;
  padding: 12px 24px;
  text-shadow: 1px 1px 1px #ce5417;
  transition: all ease-in-out 0.1s;
  text-align: center;
}

button:hover {
  border-radius: 4px;
  filter: contrast(1.5);
}

h1 {
  background: linear-gradient(to left, #54e280 0, #1ec498 50%);
  background-clip: border-box;
  filter: contrast(2);
  font-size: 40px;
  font-weight: 500;
  margin: 24px auto 24px auto;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0;
  text-transform: uppercase;
}

/* COLUMNS */

.columns-1 {
  padding: 0 36px;
}

.columns-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column-2 {
  margin: 24px 2.5%;
  max-width: 400px;
  min-width: 45%;
}

.columns-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column-3 {
  margin: 24px;
  max-width: 360px;
  min-width: 320px;
  text-align: center;
}

.column-3 p {
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  margin: 12px 0;
  text-align: left;
}

.columns-4 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.column-4 {
  margin: 24px 5% 24px 0;
  max-width: 20%;
  min-width: 240px;
}

.column-4:first-child {
  padding: 0;
}
